/* Error messages */
.error-message {
  margin-top: 5%;
  font-family: Arial, Helvetica, sans-serif;
}

/* Registration form styling */
.registrationContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10%;
}

/* User login form styling */
.loginContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
}

.loginButton {
  margin-top: 10%;
}


/* Admin login form stling */
.adminLoginContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 5%;
  margin-left: 5%;
  font-family: Arial, Helvetica, sans-serif;
}

.adminLoginForm {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 5%;
}

.adminLoginButton {
  margin-top: 5%;
  background-color: rgb(150, 212, 235);
  border: none;
  border-radius: 8px;
}

/* Calendar */

.calendar {
  font-family: Arial, Helvetica, sans-serif;
}

.bookingForm {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;
  margin-bottom: 10%;
}

.bookingForm label {
  font-family: Arial, Helvetica, sans-serif;
}

.bookingForm input,
.bookingForm select,
.bookingForm textarea {
  margin-bottom: 5%;
  padding: 8px;
  width: 100%;
}

/* Home page styling */

.homeTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
}

/* 404 page styling */

.errorPageTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
}

.errorPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
}

/* Admin page */

.noRegisteredClients {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
}