/* Error messages */
.error-message {
  margin-top: 5%;
  font-family: Arial, Helvetica, sans-serif;
}

/* Registration form styling */
.registrationContainer {
  background-color: rgb(247, 163, 124);
  border-radius: 10px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 4%;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.registerTitle {
  display: flex;
  justify-content: center;
  margin-top: 5%;
  font-size: 2rem;
}

/* User login form styling */
.loginTitle {
  display: flex;
  justify-content: center;
  margin-top: 5%;
  font-size: 2rem;
}

.loginContainer {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  margin-top: 5%;
}

.loginButton {
  margin-top: 10%;
}


/* Admin login form stling */
.adminLoginContainer {
  background-color: rgb(243, 245, 245);
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 10%;
  margin-left: 10%;
  margin-right: 10%;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: large;
}

.adminLoginForm {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 5%;
  margin-top: 5%;
  margin-left: 7%;
  font-weight: 700;
}

.adminLoginForm label,
.adminLoginForm input,
.adminLoginForm button {
  margin-bottom: 10px;
}

.adminLoginButton {
  margin-top: 5%;
  background-color: rgb(150, 212, 235);
  border: none;
  border-radius: 8px;
}

.adminLoginTitle {
  font-size: larger;
  margin-top: 3%;
  margin-left: 7%;
  font-weight: 800;
}

/* Calendar */
.calendar {
  font-family: Arial, Helvetica, sans-serif;
}

.bookingForm {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;
  margin-bottom: 10%;
}

.bookingForm label {
  font-family: Arial, Helvetica, sans-serif;
}

.bookingForm input,
.bookingForm select,
.bookingForm textarea {
  margin-bottom: 5%;
  padding: 8px;
  width: 100%;
}

.calTitle {
  text-align: center;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
  margin-bottom: 5%;
}


.thanksBooking {
  text-align: center;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
  margin-bottom: 5%;
}

.submitPayment {
  color: rgb(247, 149, 104);
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
  margin-bottom: 5%;
}

.pricing {
  font-size: 1.2rem;
  margin-top: 10%;
  margin-left: 27%;
  margin-right: 20%;
}

/* Home page styling */
.homeMainTitle {
  text-align: center;
  color: rgb(247, 149, 104);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10%;
  font-size: 2.5rem;
}

.homeDescription {
  font-size: 1.5rem;
  line-height: 3rem;
  text-align: center; 
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 10%
}

.homeServicesBorder {
  background-color: rgb(243, 245, 245);
  padding: 20px;
  border-radius: 10px;
  margin: 5%
}

.homeServices {
  font-size: 1.8rem;
  margin-top: 6%;
  text-align: left;
  margin-left: 15%;
}

.homeTitle {
  color: rgba(48, 178, 221, 0.976);
  font-size: 1.4rem;
  margin-top: 50px;
  text-align: left;
  margin-left: 15%;
}

.homeInfo {
  font-size: 1rem;
  margin-top: 20px;
  text-align: left;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 5%;
}

/* 404 page styling */
.errorPageTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
}

.errorPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
}

/* Admin page */
.noRegisteredClients {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
}

/* Dog Sitters page */
.adminMainTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 3%;
  font-size: 2.5rem;
}

.adminTitle {
  font-size: 2rem;
  text-align: left;
  margin-left: 10%;
  margin-top: 10%;
  margin-bottom: 5%
}

.adminDescription {
  font-size: 1.3rem;
  line-height: 3rem;
  text-align: left; 
  margin-top: 4%;
  margin-left: 10%;
  margin-right: 10%
}

.adminImage {
  margin-left: 8%;
  margin-right: 4%;
  margin-top: 8%;
  align-items: center;
}

.adminImageDescription {
  text-align: center;
  font-size: 1.2rem;
  margin-top: 5%;
  margin-bottom: 10%;
}

.adminBorder {
  margin: 5%;
  background-color: rgb(247, 163, 124);
  padding: 50px;
  border-radius: 10px;
}

/* Bookings Table */
.bookingsContainer {
  margin: 20px;
}

.bookingsHeader {
  margin-bottom: 10px;
  font-size: 1.8rem;
  margin-top: 60px;
}

.dateLabel {
  margin-right: 10px;
  margin-bottom: 20px;
  font-size: 1rem;
}

.dateLabel select {
  font-size: 1rem;
  padding: 5px;
}

.bookingsTable {
  margin-top: 10px;
  width: 90%;
  border-collapse: collapse;
  font-size: small;
}

/* Clients Table */
.clientsContainer {
  margin: 20px;
}

.clientsHeader {
  margin-bottom: 10px;
  font-size: 1.8rem;
}

.clientsTable {
  margin-top: 10px;
  width: 90%;
  border-collapse: collapse;
  font-size: small;
}